.navbar {
    &_search {
        padding: 8px 0;
        margin-right: 40px;
        input {
            padding: 8px 20px;
            display: flex;
            width: 267px;   
            align-items: center;
            border-radius: 8px;
            border: 1px solid var(--gray2);
            outline: none;
            background-color: #FAFAFA;
        }
    }
    &_infor {
        display: flex;
        align-items: center;
        span {
            padding:5px;
            margin-right: 10px;
            p{
                color: var(--neutral-100, #101623);
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px; 
            }
        }
    }
}