.breadcrumb {
    margin-top: 24px;
    margin-bottom: 30px;
    span {
        color: var(--text-color4);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }
    span:last-child {
        color: var(--text-color9);
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
    }
}

.news {
    margin-bottom: 80px;
    &-title {
        text-align: center;
        color: var(--text-color9);
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 38px; 
        margin-bottom: 32px;
    }
    &-content {
        p {
            margin: 10px 0;
            color: var(--text-color8);
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            span {
                margin-left: 6px;
            }
        }
        h3 {
            color: var(--text-color9);
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px; 
        }
        &-top {
            color: var(--foundation-black-white-black, #2E2E2E);
font-family: Roboto;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 150%; 
margin-top: 56px;
        }
        &-titlee {
            color: var(--foundation-black-white-black, #2E2E2E);
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 150%; 
        }
    }

    &-item {
        
    }
}

.news_right {
    display: flex;
    margin-bottom: 32px;
    &-content {
        margin-left: 16px;
    }
}
.news-full {
    margin-top: 40px;
}