.banner3 {
    display: flex;
    margin-bottom: 80px;
    &_content {
        position: relative;
        &-item {
            position: absolute;
            top: 14%;
            background-color: #FFF;
            max-width: 60%;
            left: 20%;
            border-radius: 15px;
            padding: 36px 43px;
            text-align: center;
            h2 {
                font-size: 16px;
                font-weight: 500;
                border-bottom: 3px solid #996935;
                padding: 14px 0;
                margin: 0px auto 15px auto;
                width: 14%;
            }
            h1 {
                color: var(--text1);
                font-size: 30px;
                font-style: normal;
                font-weight: 600;
                line-height: 44px; 
            }
            p {
                color: var(--text1);
                font-size: 16px;
                font-style: normal;
                line-height: 28px; 
                margin: 20px 0;
            }
            button {
                width: 200px;
                padding: 12px 20px;
                border-radius: 28px;
                background: var(--generic-white, #FFF);
                box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.10);
                color: var(--primary-color);
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px; 
                border: 1px solid #996935;
            }
        }
    }
}